.tahoma12 {
	font-family: Tahoma;
	font-size: 16px;
	text-decoration: none;
}

.tahoma16-brd {
	font-family: Tahoma;
	font-size: 17px;
	text-decoration: none;
	border-bottom-width: 1.2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

.judul-sk {
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
.tahoma12-b {
	font-family: Tahoma;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
}
.tahoma12-bdr {
	font-family: Tahoma;
	font-size: 16px;
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.tahoma14-b-bdr {
	font-family: Tahoma;
	font-size: 18px;
	font-weight: normal;
	border: 4px none #000000;
}
.tahoma12-bdrt {

	font-family: Tahoma;
	font-size: 16px;
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.tahoma-12 {
	font-family: Tahoma;
	font-size: 12px;
	text-decoration: none;
}
.pb {
	page-break-after: always;
}
.tahoma-13 {
	font-family: Tahoma;
	font-size: 16px;
	text-decoration: none;
}
.roman14 {
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	text-decoration: none;
}
.border-tlb {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.border-lb {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.border-r {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.border-tlbr {
	border: 1.2px solid #000000;
}
.border-lbr {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.border-tb {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.border-tlb {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.border-tbr {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.border-tr {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.border-b {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.tahoma16 {

	font-family: Arial;
	font-size: 17px;
	text-decoration: none;
}
.times {
	font-family: "Times New Roman";
	font-size: 24px;
	text-decoration: none;
}
.times34 {
	font-family: "Times New Roman";
	font-size: 26px;
	text-decoration: none;
}
.times12 {
	font-family: "Times New Roman";
	font-size: 16px;
	text-decoration: none;
}
.roman14-b {

	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	text-decoration: none;
}
.border-hdr {
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-bottom-style: ridge;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.roman14-brdtipis {
	font-family: "Times New Roman", Times, serif;
	font-size: 11pt;
	text-decoration: none;
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.tahoma12pt {
	font-family: Tahoma;
	font-size: 12pt;
	text-decoration: none;
}
.tahoma12pt-brd {

	font-family: Tahoma;
	font-size: 12pt;
	text-decoration: underline;
}
.border-l {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.border-t {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.border-tl {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.border-tlb-dot {
	border-top    : dotted 1px #000000;
	border-left   : dotted 1px #000000;
	border-bottom : dotted 1px #000000;
; font-family: Tahoma; font-size: 10px; text-decoration: none
}
.border-lbr-dot {
	border-left   : dotted 1px #000000;
	border-bottom : dotted 1px #000000;
	border-right  : dotted 1px #000000;
; font-family: Tahoma; font-size: 10px; text-decoration: none
}
.border-lb-dot {
	border-left   : dotted 1px #000000;
	border-bottom : dotted 1px #000000;
; font-family: Tahoma; font-size: 10px
}

.border-br-dot {
	border-right  : dotted 1px #000000;
	border-bottom : dotted 1px #000000;
; font-family: Tahoma; font-size: 10px
}
.border-b-dot {
	border-bottom : dotted 1px #000000;
; font-family: Tahoma; font-size: 10px
}

.border-r-dot {
    border-right: dotted 1px #000000;
; font-family: Tahoma; font-size: 10px
}
.border-B-dot {
    border-bottom : dotted 1px #000000;
    font-family	  : Tahoma; font-size: 10px
}
.border-l-dot {
    border-left : dotted 1px #000000;
    font-family	  : Tahoma; font-size: 10px
}
.border-rbdot {

	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.border-lbdot {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-bottom-style: dotted;
}
.border-lbrdot {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-bottom-style: dotted;
	border-right-style: solid;
}
.tahoma9 {


	font-family: Tahoma;
	font-size: 9.5pt;
	text-decoration: none;
}
.tahoma9brd {
	font-family: Tahoma;
	font-size: 9.5pt;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
}
.tahoma10 {

	font-family: Tahoma;
	font-size: 10pt;
	text-decoration: none;
}
.tahoma105 {

	font-family: Tahoma;
	font-size: 10.2pt;
	text-decoration: none;
}
.tahoma105brd {
	font-family: Tahoma;
	font-size: 10.2pt;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
}
.tahoma11 {
	font-family: Tahoma;
	font-size: 11pt;
	text-decoration: none;
}
.tahoma11border {
	font-family: Tahoma;
	font-size: 11pt;
	text-decoration: underline;
	font-weight: bold;
}.tahoma11brdtipis {

	font-family: Tahoma;
	font-size: 11pt;
	text-decoration: underline;
	font-weight: normal;
}
.tahoma12 {
	font-family: Tahoma;
	font-size: 12pt;
	text-decoration: none;
	line-height: normal;
}
.tahoma12brd {
	font-family: Tahoma;
	font-size: 12pt;
	text-decoration: none;
	line-height: 0.5cm;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.tahoma12-5spac {

	font-family: Tahoma;
	font-size: 12pt;
	text-decoration: none;
	line-height: 0.5cm;
}
.tahoma13border {

	font-family: Tahoma;
	font-size: 13pt;
	text-decoration: underline;
	font-weight: bold;
}
.tahoma13 {

	font-family: Tahoma;
	font-size: 13pt;
	text-decoration: none;
}
.border2 {
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.tahoma12biasa {

	font-family: Tahoma;
	font-size: 12pt;
	text-decoration: none;
	line-height: normal;
}
.tahoma11-5spac {
	font-family: Tahoma;
	font-size: 11pt;
	text-decoration: none;
	line-height: 0.6cm;
}
.tahoma12-6spac {


	font-family: Tahoma;
	font-size: 12pt;
	text-decoration: none;
	line-height: 0.6cm;
}
.head16pt {
	font-family: Tahoma;
	font-size: 16pt;
	font-weight: bold;
}
.tahoma8 {
	font-family: Tahoma;
	font-size: 8pt;
	text-decoration: none;
}
.tahoma8brd {

	font-family: Tahoma;
	font-size: 8pt;
	text-decoration: underline;
}
.tahoma16pt {

	font-family: Tahoma;
	font-size: 16pt;
	text-decoration: none;
}
.border-br {

	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.border-lr {
	border-top-width: 1.2px;
	border-right-width: 1.2px;
	border-bottom-width: 1.2px;
	border-left-width: 1.2px;
	border-right-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-left-style: solid;
}
.kopatas {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}
.kopdinas {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}
.kopalamat {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
}
.kopbrd {
	border-top-width: 2pt;
	border-right-width: 2pt;
	border-bottom-width: thin;
	border-left-width: 2pt;
	border-top-style: double;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.kopbrd2 {
    border-top-width: 5pt;
    border-right-width: 2pt;
    border-bottom-width: thin;
    border-left-width: 2pt;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.ttdbrd {
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-bottom-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-style: double;
}
